.logo {
    filter: invert(1);
    width: 35px;
    gap: 10px;
}

.flex {
    display: flex;
}

.fontfamily { 
    font-family: 'Montserrat', sans-serif;
}

.download-btn {
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: aliceblue;
}
.btn{
    background-color: transparent;
    color: gainsboro;
    font-weight: 600;
    border: none;
}
.margin{
    margin: 10px;
}
.padding{
    padding: 10px;
}
.alingitem{
    align-items: center;
}
.justfycontent{
    justify-content: center;
}
.justfyspace{
    justify-content: space-between;
}
.text{
    font-size: 15px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.width{
    width:25px;
}
.border{
    border: 2px solid red;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.invert{
    filter: invert(1);
}